.img-responsive {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}
.sidebar {
  list-style-type: none;
  width: 5%;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: blue;
  z-index: -100;
}
.logo_homestark{
  font-weight: bold;
  color: white;
}
.home_style{
  background: rgba(0,0,0,0.8);
  border-color: black;
}
.nav.navbar-nav.navbar-right li a {
    color: white;
}
#ntext{
  color: white;
  text-decoration: none;
}
/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: gray;
}

/* selected link */
a:active {
    color: grey;
}

/*******************************  SIDEBAR LEFT  *******************************/
@import url(http://fonts.googleapis.com/css?family=Lato);

.container_left
{
    margin-top: 50px;
    width:800px;
    overflow:hidden;
    display:inline-block;
}
.side-bar
{
    background:#d4d4d5;
    position:absolute;
    height:100%;
    width:200px;
    color:#fff;
    transition: margin-left 0.5s;
}

.side-bar ul
{
    list-style:none;
    padding:0px;

}

.side-bar ul li.menu-head
{
    font-family: 'Lato', sans-serif;
    padding:20px;
    color:black;
}


.side-bar ul li.menu-head a
{
    /*color:#fff;*/
    text-decoration:none;
    height:50px;
    color:black;

}


.side-bar ul .menu-head  a
{
    color:#fff;
    text-decoration:none;
    height:50px;
}

.side-bar ul .menu li  a
{
    /*color:#fff;*/
    color:black;
    text-decoration:none;
    display:inline-table;
    width:100%;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
}

.side-bar ul .menu li  a:hover
{
    border-left:3px solid #ECECEA;
    padding-left:17px;
}

.side-bar ul .menu li  a.active
{
    padding-left:17px;
    background:#333333;
    border-left:3px solid #6435c9;
    color:white;
}

.side-bar ul .menu li  a.active:before {
   content:"";
   position: absolute;
   width: 0;
   height: 0;
   border-top: 20px solid transparent;
   border-bottom: 20px solid transparent;
   border-left: 7px solid #333333;
   margin-top: -10px;
   margin-left: 180px;
   color: white;
}


.content
{
    padding-left: 200px;
    transition: padding-left 0.5s;
}

.active > .side-bar
{
    margin-left:-150px;
    transition: margin-left 0.5s;
}

.active > .content
{
    padding-left:50px;
    transition: padding-left 0.5s;
}







#sidebar-wrapper .menu-icon{
  width: 30px;
  height: 20px;
  float: left;
  margin-right: 5%;
  margin-top: 5%;
  margin-left: -5px;
  text-align:  center;
}

#mainWindow{
  background-color: orange;
}
