<!doctype html>
<html lang="en" ng-app="superhero">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="img/favicon.jpg">

    <title>HomeStark Interface</title>
    <!-- STYLES -->
    <!-- build:css lib/css/components.min.css -->
    <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="components/parsleyjs/src/parsley.css"/>
    <link rel="stylesheet" type="text/css" href="components/semantic/dist/semantic.min.css"/>
    <!-- endbuild -->

    <!-- SCRIPTS -->
    <!-- build:js lib/js/components.min.js -->
    <script type="text/javascript" src="components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="components/angular/angular.js"></script>
    <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="custom-components/custom-js/parsley.js"></script>
    <script type="text/javascript" src="components/semantic/dist/semantic.min.js"></script>

    <!-- endbuild -->

    <!-- Custom Scripts -->
    <script type="text/javascript" src="js/homestark.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
      Esqueleto da dash
    </div>
</div>
</body>
</html>
