<div class="row">
  <div style="text-align:center; font-size: larger;" class="row">
    Sensor do tipo:<br>
    <b><i class="fa fa-lightbulb-o" aria-hidden="true"></i> {{dash.type}}</b>
  </div>
  <br>
  <!-- <div style="text-align:center;" class="row">
    <span style="font-size: larger;">Valor:<b>{{dash.value}}</b></span>
  </div> -->
  <div style="text-align:center;" class="row">
    <ui-knob value="dash.value" options="options_light"></ui-knob>
  </div>
</div>
